$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
//Cores
$preto-claro:  #323846;
$azul-medio: #2d4475;

/* Fonts: 
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/

body, html, .container-fluid {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

/* Cabecalho */
.main-header {
  position: relative;
  .language-option > div {
    float: right;
  }
  .navbar-default {
    background-color: #fff;
    border: none;
  }  
    nav {
       font-family: 'Josefin Sans', sans-serif;
       font-weight: 700;
       font-size: 12px;
       text-transform: uppercase;

      .navbar-brand {
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .navbar-collapse {     
      padding-right: 0px; 
      padding-left: 0px; 
    }
    .navbar-nav > .active {
      border: 1px solid $azul-medio;
   
      
      & > a {
          background-color: #fff;
          padding-top: 10px; 
          padding-bottom: 0px;
          height: 100%;
          line-height: 30px; 
          &:hover {
            color: #fff;
            background-color: $azul-medio;
          }
      } 
    }
    #navbar-collapse-principal {

        ul {
          margin-top: 15px;
          margin-left: 15px;        
           li {
              margin-left: 20px;
           }
        }
      }
    }
 }
 /*Slider*/

 #main-slider {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/slider-background.png');
    color: #fff;

    .carousel-inner > .item {
      min-height: 100%;
      
      h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 6em;
        text-transform: uppercase;
      }
      p {
        background-color: $preto-claro;
        width: 60%;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding: 15px 15px 30px 15px;
        margin: 25px 0px 0px 0px;
      }
      button {
        border: none;
        background-color: #fff;
        color: $preto-claro;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;
        span {
          font-weight: 700;          
        }
        img{
          margin: -3px 20px 0px 15px;
          width: 18px;
          height: 10px;
        }
      }
    }
 }


 header:after {    
      background: url('../images/cloud.png');
      height: 108px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;      
      position: absolute;
      bottom: -40px;
    } 