.filter-bar {
 margin-top: 40px;
 margin-bottom: 50px;
 @include flex-position(row, wrap, flex-end, center);
	min-height: 50px;
	background: $vermelho;
	color: #fff;
	select {
		background: $vermelho;
		margin-right: 10px;
		border: 1px solid #fff;
		height: 40px;
		min-width: 200px;
		padding-left: 10px;
		margin-left: 30px;
	}
}

	.convenio-items {
		.item-list {
			padding-bottom: 20px;
			margin-bottom: 30px;
			border-bottom: 1px solid #e5e5e5;
			h3 {
				font-weight: 600;
				font-size: 22px;
			}
			p {
				font-weight: 300;
				font-size: 16px;
			}
			.link {
				color: $vermelho;
				font-weight: 700;
				word-wrap: break-word;
				&:hover {
					color: $azul;
				}
			}
			.tel {
				a {
					background: $azul;
					color: #fff;
					font-size: 12px;
					padding: 10px 20px;
					border-radius: 5px;
					display: inline-block;
					width: 150px;
					margin-top: 50px;
					.fa {
						margin-right: 5px;
					}
					&:hover {
						transition: 0.4s;
						transform: scale(1.1);
					}
				}
			}
		}
	}
.convenio-listagem {
	font-family: 'Open Sans', sans-serif;	
	.pagination {
		margin-top: 100px;
	}
}
@media (max-width: 576px) {
	.filter-bar {
		padding: 10px;
		select {
			width: 100%;
			margin-left: unset !important;
			margin-right: unset !important;
		}
		span {
			display: block;
			margin: 10px auto;
			text-transform: uppercase;
		}
	}
}
.convenio-integra {
	font-family: 'Open Sans', sans-serif;	
	.filter-bar {
		margin-bottom: 0px;
	}
	.conv-box {
		padding-top: 50px;
		background: #f0f0f0;
		overflow: hidden;
		h3 {
				font-weight: 600;
				font-size: 22px;
			}
			p {
				font-weight: 300;
				font-size: 16px;
			}
			.link {
				color: $vermelho;
				font-weight: 600;
				word-wrap: break-word;
				&:hover {
					color: $azul;
				}
			}
			.tel {				
					background: $azul;
					color: #fff;
					font-size: 12px;
					padding: 10px 20px;
					border-radius: 5px;
					display: inline-block;
					width: 150px;
					margin-top: 50px;
					margin-left: 50px;
					.fa {
						margin-right: 5px;
					}
					&:hover {
						transition: 0.4s;
						transform: scale(1.1);
					}
				}			
	}
	.benefits {
		@extend .wrapper;
		margin-top: 50px;
		li {
			margin-bottom: 50px;
			.title {
				font-size: 16px;
				font-weight: 600;
			}
			.desc {
				font-weight: 300;
				font-size: 14px;
			}
			&:before {
				content: url('../images/checked.png');
				display: block;
				float: left;
				margin-right: 10px;
				margin-top: 5px;
			}
		}
		li span{
			display: block;
			color: #0d8d34;			
		}
	}
	.others-conv {
		h2 {
			font-weight: 300;
			color: $azul;
			font-size: 30px;
			span {
				color: $vermelho;
				font-weight: 700;
			}
		}
	}
	.convenio-items {
		margin-top: 60px;
	}
}
@media (max-width: 576px) {
	.convenio-integra .conv-box .tel {
		display: block;
		margin-left: 0px;
	}
}