.advertisement {
  @extend .wrapper;
  @extend .mt-20;  
 	
 	.row.items > div {
 		padding-left: 0px; 	
 	}
 	.row.items > div:last-child {
 		padding-right: 0px;
 	}

  .item {  	
    padding: 0px;   
    min-height: 100px;
    background-color: $azul;
    padding: 10px;
    margin-bottom: 15px;
    transition: 0.3s;
    @include flex-position(row, nowrap, space-around, center);    
    h3 {
      font-family: 'Open Sans', sans-serif;
      margin: 0px;
      color: #fff;
      font-size: 22px;
      position: relative;   		   	
    }
    img {
			display: inline-block;
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      font-family: 'Arial', sans-serif;
      border-radius: 2px;
      padding: 0px 2px 0px 10px;
      color: $azul;      
    }
   &:hover {
   	transition: 0.3s;
   	transform: scale(1.1);
   }
  }
}
@media (max-width: 992px) {
	.advertisement {
		.row.items > div:nth-child(2) {
 		padding-right: 0px;
 		}
	}   
}
@media (max-width: 768px) {
	.row.items > div {
 		padding-right: 0px;
 	} 	
}
@media (max-width: 576px) {
	// .advertisement .item {
	// 	min-height: 180px;
	// }
}
/* Notícias */
.sec-news {
	margin-bottom: 60px;
	position: relative;
	.news {			
		.new {
			width: 31.33333%;
			padding: 0px;
			padding-bottom: 10px;
			margin-right: 3%;
			border: 1px solid #e8e8e7;
			margin-bottom: 15px;
			&:last-child {
				margin-right: 0px;
			}		
			@extend .generic-box;
			img {
				width: 100%;
			}
		}
	}
}
@media (max-width: 992px) {
	.sec-news {
		.news .new {
			width: 47%;
			float: left;
		}
	} 
}
@media (max-width: 576px) {
	.sec-news {
		.news .new {
			width: 100%;	
		}
	} 
}

/* Carousel */
#slider-news {
	height: 350px;
	.carousel-inner {
		height: inherit;
		.item {
			background-image: url('../images/1-slider.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}
	}
}
/* Cursos e palestras */
.course-lecture {
	background: #f2f2f2;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
	.second-title-section {
		padding-bottom: 20px;
	}
	.list-insc {		
		background: #fff;
		margin-top: 12px;
		width: 100%;
		
		.active {
			.day, .month {
				color: #fff;
			}
			.date {
				background: $vermelho;
			}
			h3 {
				color: $vermelho;
			}
	}		
	li {			
		padding-left: 15px;
		padding-top: 5px;	
		

		border-bottom: 1px solid #f2f2f2;			
			.date-container {
				@include flex-position(row, wrap, center, center);
        height: 100px;
				.date {
					border: 2px solid $vermelho;
			    width: 70px;
			    height: 70px;
			    display: block;
			    border-radius: 50%;
			    text-align: center;
					color: $vermelho;
					text-transform: uppercase;
			    .day {
			    	font-weight: 800;
			    	font-size: 30px;
			    	display: block;
			    	line-height: 1.7;
			    }
			    .month {
			    	font-size: 14px;
			    	display: block;
			    	transform: translateY(-14px);
			    }
				}
		}
			&:hover {
				transition: 0.2s;
				@extend .active;
			}
		}
		h3, span {
			font-weight: 600;		
		}
		h3 {	
			color: $azul;
			font-size: 23px;
		}
		h3 + span {
			color: $vermelho;
			display: block;
			font-size: 12px;
			transform: translateY(-10px);
		}
		a {
			float: right;
			font-size: 14px;
			padding-right: 10px;
			padding-bottom: 5px;
			color: #aab1b9;
			&:after {
				content: '+';
				color: $vermelho;
				font-size: 22px;
				font-weight: 700;
				display: inline-block;
				transform: translate(2px, 2px);
			}
			&:hover {
				color: $vermelho;
			}
		}
	}
	.president-word {	
		padding: 0px;
		@extend .generic-box;
		&:hover .second-title-section {
			color: #fff;
			margin-left: 5px;
		}
		&:hover .second-title-section > span {
			color: #fff;
		}
		&:hover .second-title-section span:before {
			content: url("../images/white-book.png");
		}
	}
}
@media (max-width: 768px) {
	.course-lecture > .wrapper div:nth-child(1) {
		 padding-left: 0px;
		 padding-right: 0px;
	}
}
@media (max-width: 576px) {
	.course-lecture li {
		margin-bottom: 10px;
		border-bottom: 2px solid #f2f2f2;
	}	
}
.convenios {
	font-family: 'Opens Sans', sans-serif;
	background: $azul;
	color: #fff;
	margin-bottom: 150px;
	height: 230px;
	.top {
		padding: 0px;
		min-height: 80px;
		@include flex-position(row, wrap, space-between, center);
		h2 {
			font-size: 28px;
			margin: 0px;
			&:before {
				content: url('../images/conv.png');	
				display: inline-block;
				transform: translate(-5px, 5px);			
			}
		}
		.select-box {
			text-transform: uppercase;
			font-weight: 700;			
			span {
				display: inline-block;
			}
			.conv-wrapper {
				width: 300px;
				position: relative;
				display: inline-block;
				button {
					position: absolute;
					background: $azul;
					border: none;
					border-radius: 10px;
					height: 26px;
			   	width: 40px;
			   	right: 2px;
			   	top: 2px;
				}
				select {
					width: 100%;
		   		border: none;
		    	color: #000;
		    	font-weight: 300;
		    	height: 30px;
		    	padding: 0px 15px;
		    	border-radius: 10px;
		    	position: relative;
		    	font-family: 'Open Sans', sans-serif;
		    	// margin-left: 50px; 		
				}
  		}
		}
	}
	.conv-slider {
		margin-top: 20px;
		img {
			max-width: 150px;
		}
	}
}
@media (max-width: 576px) {
	.convenios {
		h2 {
			padding-bottom: 15px;
		}
		.select-box span {
			width: 100%;
			text-align: center;
		}
	 .conv-wrapper {
			width: 100% !important;
			#conv {				
				width: inherit;
			}
		}
	}
	.swiper-container .btn-see-all {
		width: 100%;
		text-align: center;
	}
}
.events {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 100px;
	background: #fff;
	.second-title-section span:before {
		display: none;	
	}
	img { 
    border-radius: 10px; 
    max-height:300px;
    min-height:300px;
    width: 100%;
  }
  h3 {
  	font-weight: 700;
  	font-size: 18px;
  	margin: 0px auto 15px auto;
  	&:after {
  		content: url('../images/camera-icon.png');
			float: right;
  	}
  }
  figure {
  	position: relative;

  	a {
  		position: absolute;
  		left: 10px;
  		bottom: 15px;
  		color: #fff;
  	}
  }
  .wrapper > .row > div {
  	margin-bottom: 40px;
  }
}
.services-consults {	
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-image: url('../images/consultas-servicos.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	padding-bottom: 50px;
	h2 {
		margin-top: 50px;
		font-weight: 600;
		font-size: 28px;
	}
	h3 {
		font-weight: 700;
		font-size: 22px;
	}
	ul {
		margin-top: 20px;

		li:before {
			content: "\f105";
			font-family: FontAwesome;
			margin-right: 10px;
		}
	}
	& > .wrapper > .row > div {
		&:nth-child(1) h3:before {
			content: url('../images/lupa-icon.png');
			display: inline-block;
			transform: translate(-5px, 12px);
		}
		&:nth-child(2) h3:before {
			content: url('../images/paper-icon.png');
			display: inline-block;
			transform: translate(-5px, 12px);
		}
		&:nth-child(3) h3:before {
			content: url('../images/hammer-icon.png');
			display: inline-block;
			transform: translate(-5px, 12px);
		}
	}
}
.useful-links {
	h2 {
		text-align: center;
		color: $azul;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 28px;
		margin-bottom: 20px;
		span{
			font-weight: 700;
		}
	}
	.swiper-container {
		box-shadow: unset;
	}
}