.advertisement {
  @extend .wrapper;
  @extend .mt-20;
  
  .item:last-child {
    margin: 0%;
  }
  .item {
    padding: 0px;
    position: relative;    
    height: 90px;
    background-color: $azul;
    padding: 10px;
    @include flex-position(row, wrap, flex-end, center); 
    width: 23.5%;
    margin-right: 2%;    
    h3 {
      font-family: 'Open Sans', sans-serif;
      margin: 0px;
      color: #fff;
      position: relative;
   
      &:before {
        content: url('../images/cino.png');
        transform: translate(-55px, -5px);
        display: block;
        position: absolute;
      }
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      font-family: 'Arial', sans-serif;
      border-radius: 2px;
      padding: 0px 2px 0px 10px;
      color: $azul;      
    }
  }
}
/* Notícias */
.sec-news {
	margin-bottom: 60px;
	position: relative;
	.news {			
		.new {
			width: 31.33333%;
			padding: 0px;
			padding-bottom: 10px;
			margin-right: 3%;
			border: 1px solid #e8e8e7;
			&:last-child {
				margin-right: 0px;
			}
			@extend .generic-box;		
		}
	}
}
/* Cursos e palestras */
.course-lecture {
	background: #f2f2f2;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
	.second-title-section {
			padding-bottom: 20px;
	}
	.list-insc {
		background: #fff;
		margin-top: 12px;		
		.active {
			.day, .month {
				color: #fff;
			}
			.date {
				background: $vermelho;
			}
			h3 {
				color: $vermelho;
			}
	}		
	li {			
		padding-left: 15px;
		padding-top: 5px;
		border-bottom: 1px solid #f2f2f2;			
			.date-container {
				@include flex-position(row, wrap, center, center);
        height: 100px;
				.date {
					border: 2px solid $vermelho;
			    width: 70px;
			    height: 70px;
			    display: block;
			    border-radius: 50%;
			    text-align: center;
					color: $vermelho;
					text-transform: uppercase;
			    .day {
			    	font-weight: 800;
			    	font-size: 30px;
			    	display: block;
			    	line-height: 1.7;
			    }
			    .month {
			    	font-size: 14px;
			    	display: block;
			    	transform: translateY(-14px);
			    }
				}
		}
			&:hover {
				transition: 0.2s;
				@extend .active;
			}
		}
		h3, span {
			font-weight: 600;		
		}
		h3 {	
			color: $azul;
			font-size: 23px;
		}
		h3 + span {
			color: $vermelho;
			display: block;
			font-size: 12px;
			transform: translateY(-10px);
		}
		a {
			float: right;
			font-size: 14px;
			padding-right: 10px;
			padding-bottom: 5px;
			color: #aab1b9;
			&:after {
				content: '+';
				color: $vermelho;
				font-size: 22px;
				font-weight: 700;
				display: inline-block;
				transform: translate(2px, 2px);
			}
			&:hover {
				color: $vermelho;
			}
		}
	}
	.president-word {	
		padding: 0px;
		@extend .generic-box;
		&:hover .second-title-section {
			color: #fff;
			margin-left: 5px;
		}
		&:hover .second-title-section > span {
			color: #fff;
		}
		&:hover .second-title-section span:before {
			content: url("../images/white-book.png");
		}
	}
}
.convenios {
	font-family: 'Opens Sans', sans-serif;
	background: $azul;
	color: #fff;
	margin-bottom: 100px;
	min-height: 150px;
	.top {
		padding: 0px;
		min-height: 80px;
		@include flex-position(row, wrap, space-between, center);
		h2 {
			font-size: 30px;
			margin: 0px;
			&:before {
				content: url('../images/conv.png');	
				display: inline-block;
				transform: translate(-5px, 5px);			
			}
		}
		label {
			text-transform: uppercase;
			font-weight: 700;
			position: relative;
			&:after {
  			content: "\f078";
				position: absolute;
				font-family: FontAwesome;
				text-align: center;
				height: 26px;
				width: 40px;
				right: 2px;
				border-radius: 10px;
				top: 2px;
				background: $azul;
				line-height: 1.8;
  		}
		}
		select {
			width: 300px;
   		border: none;
    	color: #000;
    	font-weight: 300;
    	height: 30px;
    	border-radius: 10px;
    	position: relative;
    	margin-left: 50px;  		
		}
	}
}
