html,
body,
ul,
ol,
nav,
ul,
li {
  margin:  0px;
  padding: 0px;
}
html, body {
	height: 100%;
}
ul {
	list-style: none;
}
a {
 text-decoration: none;
 color: unset;
 background-color: transparent;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
// a:active{
// 	background-color: $vermelho;
// 	color: #fff;
// 	 text-decoration: none;
// }
a:link, a:visited {
	color: unset;
	text-decoration: none;
}



