$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "reset";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');



/*
extra-light: 200
light: 300
regular: 400
medium: 500
semi-bold: 600
bold: 700
*/

//Cores
$vermelho: #aa3337;
$azul: #24547e;
$cinza: #a2a2a2;

.first-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.second-title-section {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: $azul;
  font-weight: 300;
  span {
    font-weight: 600;
    color: $vermelho;
    &:before {
      content: url('../images/red-book.png');
      display: block;
      float: left;
      transform: translateY(-5px);
      margin-right: 12px;
    }
  }
}
.al-left {
  text-align: center;
}
.al-center {
  text-align: left;
}
.bg-red {
  background: $vermelho;
}
.bg-blue {
  background: $azul;
}
.bg-cinza {
  background: $cinza !important;
}
.cl-white {
  color: #fff;
}
.cl-azul {
  color: $azul;
}
.cl-vermelho {
  color: $vermelho;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.button-default {
  background-color: $vermelho;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.22);
  padding: 10px 30px;
}

@mixin flex-position($position: row, $wrap: wrap, $x-axis: center, $y-axis: center) {
  display: flex;
  flex-flow: $position $wrap;
  justify-content: $x-axis;
  align-items: $y-axis;
}

/* Navbar */
.main-nav {
  @extend .bg-cinza;
  .navbar-nav > li {
    min-height: 50px;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #8f8f8f;   
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  .navbar-nav > li > a {      
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align:middle;
    line-height: 0;
    font-weight: 300;
    margin-right: 3px;
    margin-left: 3px;
    background: #a2a2a2 !important;
    &:hover {
      background: $azul;
    }
  }
}
.navbar .navbar-toggler .icon-bar {
  background: #fff !important;
}
@media (max-width: 768px){
.main-nav {
    .navbar-nav {
      & > li {
        border: none;       
        & > a {
          margin: 0px;
          line-height: initial;
        }
      }
    }
  }
}
.advantages {
  // background: $cinza;
  color: #fff;
  padding: 10px 10px;
  overflow: hidden;
  border-radius: 3px;
  .title, .content {      
    display: block;
    float: left;
  }
  .title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    width: 40%;
    font-weight: 600;
  }
  .content {
    font-size: 18px;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: right;
  }
  a {
    border-radius: 5px;
    background: #fff;
    color: $vermelho;
    float: right;
    font-weight: 700;
    padding: 0px 10px;
    font-weight: 700;
    margin-top: 5px;
  }
}
/* Header */
.main-header {
  font-family: 'Open Sans', sans-serif;
  @extend .wrapper;
  & > a {       
    &:after {
      content: '';
      clear: both;
    }
  }
  & > .row > a > span {
    text-transform: uppercase;
    color: #767676;
    font-weight: 700;    
    float: right;
    padding: 10px 0px;
    &:after {     
      font-family: FontAwesome;
      content: 'ïƒ ';
      color: $vermelho;
      font-size: 16px;
      margin-left: 5px;
      clear: both;
    }
  }
  .logo-block {
    text-transform: uppercase;
    color: #767676;    
    img {
      width: 50%;
      float: left;
    }
    & > p {
      float: left;
      display: block;
      min-width: 50%;
      padding: 10px;
      margin-top: 10px;
      & > span {
        font-weight: 700;
      }
      & + p {
        clear: both;
        width: 100%;
        margin-top: 0px;
        font-weight: 700;
        font-size: 12px;
        padding: 0px;
      }
    }
  }
  .item-benefits .advantages {
    @extend .bg-blue;
    a {
      color: $azul
    }
  }
  .item-satisfaction {
    padding-right: 0px;
    .advantages {
      @extend .bg-red;
      a {
        color: $vermelho;
      }
    }
    .input-wrapper {
      position: relative;
      width: 100%;
      margin-top: 20px;
      
      .search {
        width: 100%;
        height: 38px;
        border: 1px solid $cinza;
        border-radius: 3px;
        padding: 5px 10px;
        &::placeholder {
          font-weight: 700;
          color: $cinza;
        }
      }
      button {
        position: absolute;
        right: 5px;
        top: 4px;
        background: $vermelho;
        color: #fff;
        width: 35px;
        border: none;
        border-radius: 5px;
        height: 30px;
        outline: none;
        font-size: 18px;
      }
    }
  }
}
#slider-news {
  .carousel-caption {
    text-align: left;
    width: 50%;
    left: 10%;
    right: 10%;
    top: 20px;

    span {
      display: block;
      font-size: 9px;
    }
  }
}