$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');



/*
extra-light: 200
light: 300
regular: 400
medium: 500
semi-bold: 600
bold: 700
*/

//Cores
$vermelho: #aa3337;
$azul: #24547e;
$cinza: #a2a2a2;
$preto-default: #333333;

.first-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.second-title-section {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: $azul;
  font-weight: 300;
  span {
    font-weight: 600;
    color: $vermelho;
    &:before {
      content: url('../images/red-book.png');
      display: block;
      float: left;
      transform: translateY(0px);
      margin-right: 12px;
    }
  }
}
.new-h2-default {
  font-size: 30px;
  color: $vermelho;
  margin-top: 0px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.al-left {
  text-align: center;
}
.al-center {
  text-align: left;
}
.fast-access {
  padding-left: 15px;
}
.bg-red {
  background: $vermelho;
}
.bg-blue {
  background: $azul;
}
.bg-cinza {
  background: $cinza !important;
}
.cl-white {
  color: #fff;
}
.cl-azul {
  color: $azul;
}
.cl-vermelho {
  color: $vermelho;
}
.pd-lr-0{
  padding-left: 0px;
  padding-right: 0px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.button-default {
  background-color: $vermelho;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.22);
  padding: 10px 30px;
  font-size: 18px;
  display: inline-block;
}
.button-default:hover {
  color: #fff
}

@mixin flex-position($position: row, $wrap: wrap, $x-axis: center, $y-axis: center) {
  display: flex;
  flex-flow: $position $wrap;
  justify-content: $x-axis;
  align-items: $y-axis;
}

/* Navbar */
.main-nav {
  margin-bottom: 0px;
  @extend .bg-cinza;
  .navbar-nav > li {
    min-height: 50px;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #8f8f8f;   
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  .navbar-nav > li > a {      
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    line-height: 0;
    font-weight: 300;
    margin-right: 3px;
    margin-left: 3px;
    background: #a2a2a2 !important;
    &:hover {
      background: $azul !important;
    }
  }
}
.navbar .navbar-toggler .icon-bar {
  background: #fff !important;
}
@media (max-width: 768px){
.main-nav {
    .navbar-nav {
      & > li {
        border: none;       
        & > a {
          margin: 0px;
          line-height: initial;
        }
      }
    }
  }
}
.advantages {
  // background: $cinza;
  color: #fff;
  padding: 10px 10px;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  transition: 0.3s;
  .title, .content {      
    display: block;
    float: left;
  }
  .title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    width: 40%;
    font-weight: 600;
  }
  .content {
    font-size: 18px;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: right;
  }
  a {
    border-radius: 5px;
    background: #fff;
    color: $vermelho;
    float: right;
    font-weight: 700;
    padding: 0px 10px;
    font-weight: 700;
    margin-top: 5px;
    height: 20px;
  }
  &:hover {
    transition: 0.3s;
    transform: scale(1.1, 1.1);
  }
}
@media (max-width: 992px) {
  .main-header .item-satisfaction {
    padding-right: 15px !important;
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .advantages {
    justify-content: space-between;
  }
  .advantages .content{
    width: unset;
  }
}
/* Header */
.main-header {
  font-family: 'Open Sans', sans-serif;
  @extend .wrapper;
  & > a {       
    &:after {
      content: '';
      clear: both;
    }
  }
  & > .row > a > span {
    text-transform: uppercase;
    color: #767676;
    font-weight: 700;    
    float: right;
    padding: 10px 0px;
    &:after {     
      font-family: FontAwesome;
      content: '';
      color: $vermelho;
      font-size: 16px;
      margin-left: 5px;
      clear: both;
    }
  }
  .logo-block {
    text-transform: uppercase;
    color: #767676;    
    img {
      width: 50%;
      float: left;
    }
    & > p {
      float: left;
      display: block;
      min-width: 50%;
      padding: 10px;
      margin-top: 10px;
      & > span {
        font-weight: 700;
      }
      & + p {
        clear: both;
        width: 100%;
        margin-top: 0px;
        font-weight: 700;
        font-size: 12px;
        padding: 0px;
      }
    }
  }
  .item-benefits .advantages {
    @extend .bg-blue;
    a {
      color: $azul
    }    
  }
  .item-satisfaction {
    padding-right: 0px;
    .advantages {
      @extend .bg-red;
      a {
        color: $vermelho;
      }
    }
    .input-wrapper {
      position: relative;
      width: 100%;
      margin-top: 20px;
      
      .search {
        width: 100%;
        height: 38px;
        border: 1px solid $cinza;
        border-radius: 3px;
        padding: 5px 10px;
        &::placeholder {
          font-weight: 700;
          color: $cinza;
        }
      }
      button {
        position: absolute;
        right: 5px;
        top: 4px;
        background: $vermelho;
        color: #fff;
        width: 35px;
        border: none;
        border-radius: 5px;
        height: 30px;
        margin-left: 15px;
        outline: none;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 576px) {
  .item-benefits, .item-satisfaction > .advantages {
    display: none;
  }
  .main-header .logo-block { 
    img {
       margin: 0 auto;
       float: unset;
    }
    p {
      width: 100%;
      text-align: center;
      padding: 0px;
      margin-bottom: 0px;
    }
    br {
      display: none;
    }
  }
}
#slider-news {
  height: 350px;
  .carousel-caption {
    text-align: left;
    width: 50%;
    left: 10%;
    right: 10%;
    top: 20px;

    span {
      display: block;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      @extend .mb-20;
      line-height: 0;
    }
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev, .carousel-control 
  .glyphicon-chevron-left {
    color: #fff;
  }
  .carousel-indicators {
    li {
      background: #fff;
   }
   .active {
      background: $azul;
      border: 2px solid #fff;
   }
 }
 .carousel-inner {
    height: inherit;
    .item {
      background-image: url('../images/1-slider.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
  }
  .carousel-control {
    z-index: 20;
    display: none;
  }
}
@media (max-width: 576px) {
  #slider-news {
    width: 100%;
    margin: 0px;
    padding:0px;
    .carousel-caption {
      width: 80%;
      bottom: unset;
      top: 0px;
      left: 15%;
      right: 5%;
      .first-title {
        font-size: 40px;
      }
    }
  } 
  #slider-news .carousel-control {
    display: block;
  } 
}
.generic-box {
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    @extend .mt-20;
  }
  h3, p, .new-footer {
    padding: 0px 20px;    
  }
  .new-footer {
    span {
      color: #aab1b9;
      font-size: 14px;
      float: right;
      &:after {
        content: '+';
        color: $vermelho;
        font-size: 22px;
        font-weight: 700;
        display: inline-block;
        transform: translate(5px, 2px);
      }
    }   
  }
  &:after {
    content: '';      
    background: #27455d;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 30%;
    transition: 0.5s;
  }
  &:hover {
    background-color: #24547e;
    color: #fff !important;
    transition: 0.5s;
  }
  &:hover .new-footer span{
    color: #fff;
  }
  &:hover::after {
    width: 100%;
    transition: 0.5s;
  }
  img {
    width: 100%;
  }
}
//Swiper Slider Default Style
.swiper-container {
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 9px 0px rgba(50, 50, 50, 0.5); 
  height: 200px;  
}
.swiper-container .btn-see-all {
  position: absolute;  
  z-index: 100;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  background: $azul;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  @include flex-position(row, wrap, space-around, center);
}
.swiper-pagination-bullet-active {
  background: $azul;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background: url('../images/prev-slider.png');
  background-repeat: no-repeat;
  background-size: 20px 40px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background: url('../images/next-slider.png');
  background-repeat: no-repeat;
  background-size: 20px 40px;
}

.little-span-red {
  font-size: 12px;
  color: $vermelho;
}
.btn-azul-default {
  padding: 10px 20px;
  color: #fff;
  background: $azul;
  font-size: 16px;
  border-radius: 5px;

}
/* Footer */
.main-footer {
  background: $azul;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-top: 60px;
  min-height: 150px;
  padding-top: 25px;
  .row > div {    
   h4 {
    text-transform: uppercase;
   }   
  }
  .fst {
    display: flex;
    flex-flow: row wrap;
  }
  .fst > div:nth-child(1) {   
    img {  
     margin-top: 50%;   
     width: 100%;
     height: auto;
    }
    ul {
      margin-left: 5%;
    }
  }
  .fst > div:nth-child(1), .fst > div:nth-child(2) {
    ul li {
      font-weight: 300;
      padding-bottom: 5px;
      &:hover {
        color: $cinza;
      }
     }
  }
  .fst > div:nth-child(3) {
    font-weight: 300;
    
    ul li:nth-child(1):before {
      content: url('../images/marker-icon.png');
    }
    ul li:nth-child(2):before {
      content: url('../images/phone-icon.png');
    }
    ul li:nth-child(3):before {
      content: url('../images/letter-icon.png');
    }
    ul li:nth-child(1):before,
    ul li:nth-child(2):before,
    ul li:nth-child(3):before {
      display: inline-block;
      transform: translate(-5px, 5px);
      margin-bottom: 10px;
    }
  }
  .fst > div:nth-child(2):before,
  .fst > div:nth-child(3):before,
  .fst > div:nth-child(4):before {
    content: '';
    width: 0.8px;
    height: 150px;
    background: rgba(246,246,246,1);
    display: block;
    float: left;
    opacity: 0.3;
    position: absolute;
    transform: translate(-15px, 10px);
  }
  .fst > div:nth-child(4) {
    min-height: 250px;

    span {
      font-weight: 300;
    }
    .input-wrapper {
      position: relative;
    }
    input[type=text] {
      font-weight: 300;
      color: #fff;
      background: #526a7d;
      border-radius: 10px;
      border: none;
      width: 100%;
      margin-top: 10px;
      padding-left: 5px;
      height: 30px;
      outline: none;     
    }
    input[type=text]::placeholder {
      color: #fff;
      padding: 5px; 
      font-size: 12px;
    }
    button {
      color: $preto-default;
      background: $azul;
      color: #fff;
      border: none;
      position: absolute;
      right: 2px;
      top: 15px;
      width: 35px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .social-media {
      @include flex-position(row, nowrap, space-evenly, center);
      margin-top: 110px;
      span {
        text-transform: uppercase;
        font-size: 12px;
      }
    
      i {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        padding: 1px 5px;
      }
    }
  }
  .under-footer {    
    height: 50px;
    background: #fff;
    font-weight: 300;
    color: $azul;
    font-size: 14px;
    .wrapper {
      @include flex-position(row, wrap, space-between);
        height: 100% !important;
      }   
    span + span > a > span {
      color: $vermelho;
      font-weight: 700;
    }
  }
}

@media (max-width: 992px) {
  .main-footer .fst > div:nth-child(2)::before,
   .main-footer .fst > div:nth-child(3)::before,
    .main-footer .fst > div:nth-child(4)::before {
      width: unset;
      height: unset;
    }
    .main-footer .fst > div:nth-child(1) {
        .logo-box {
          display: none;
        }        
    }
    .main-footer .fst > div {
      margin-bottom: 15px; 
    }
   .main-footer .social-media {
    justify-content: end !important;
    a {
      margin: 4px;
    }
  }
  .fast-access {
    padding-left: 0px !important;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 95%;
  }
}
/* Breadcrumb */
.breadcrumb {
  font-family: 'Open Sans', sans-serif;
  color: $azul;
  background: #fff;
  
  ul {
    min-height: 50px;
    padding: 15px;
    box-shadow: 0px 9px 9px -1px rgba(0,0,0,0.14);
    li {
      display: inline-block;
      margin-right: 10px;
      
      &:after {
        content: "\f105";
        font-family: FontAwesome;
        margin-left: 15px;
      }
      &:last-child:after {
        content: '';
      }
      a:hover {
        color: $vermelho;
      }
      .current-page {
        color: $vermelho;
      }
    }
  }
}

@import "reset";
@import "home";
@import "institucional";
@import "eventos";