html,
body,
ul,
ol,
nav,
ul,
li {
  margin:  0;
  padding: 0;
}
html, body {
	height: 100%;
}
ul {
	list-style: none;
}
a {
 text-decoration: none;
 color: unset;
}
a:hover {
  text-decoration: none;
}
a:active{
	background-color: none;
}



