
html, body, section {
	padding: 0px;
	margin: 0px;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
}
.fts-row {
	background-color: #f8f8f8;
	padding-top: 12px;
	font-size: 12px;
}
.info-list {	
	list-style: none;

	li{
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;

		i{
			margin-right: 10px;
			margin-left: 15px;
			color: #ff5e00;
		}
	}
}

.social-media-list {
	list-style: none;
	text-align: right;

    li{
		display: inline-block;
		margin-right: 5px;
		a {
			color: #cbc8ce;
			&:hover {
				color: #ff5e00;
				transition: 0.3s
			}
		}
	}
}
.main-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.listcol {
		padding: 0px;
		width: 100%;
	}
}
.main-list {
	list-style: none;
	padding: 0;      

	li{
		display: inline-block;
		margin-right: 15px;
		text-align: center;
			a{
				text-transform: uppercase;
				text-decoration: none;
				color: #000;
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				font-size: 13px;				
				&:hover{
					color: #ff5e00;
				}
			}	
	}
}
header {
	margin-top: 10px;
	padding: 0px !important;

	.item-carousel-half {
		z-index: 2000;
		position: absolute;		    
    bottom: 0px;
    left: 50%;
	}
}
.carousel-indicators li {
	  width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: transparent;
		border: 1px solid #fff;
		margin-bottom: 5px;
		cursor: pointer;
}
 .carousel-indicators .active {
		background-color: #ff5e00;
		border: none;
 }

 .carousel-indicators {
 		display: inline-block;
 		right: 10px;
 		left: initial; 		
 		top: 50%;
 }

#slider {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #fff;	
	
	.carousel-inner {
		min-height: 450px;
		background-image: url('../images/header.png');
		min-height: 450px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.carousel-item {
		margin-top: 50px;
	}	

	.conteudo-slide {
		z-index: 1200;
	
		h1 {
			
			font-weight: bold;
			text-transform: uppercase;
			span { color: #ff5e00 }
		}
		.fst-span {
			font-weight: 100;
			text-transform: uppercase;
		}
		p {
			font-family: 'Tahoma' sans-serif;
			font-size: 14px;
		}
		.botoes button {			
			color: #fff;
			// border: none;
			background-color: transparent; 
			font-weight: 300;
			cursor: pointer;
			text-transform: uppercase;
			border-radius: 2px;
			font-size: 14px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.botoes button:first-child {
				background-color: #ff5e00;
				border: 2px solid #ff5e00;
		}
		.botoes button:last-child {
			border: 1px solid #fff;
		}
	}
}
// Padrão repetitivo
.h2-style{
		font-family: 'Roboto', sans-serif;	
		font-weight: bold;
		text-transform: uppercase;
		font-size: 26px;
		text-align: center;
		span{
			color: #ff5e00;
		}
	}

.oque-oferecemos {
		margin-top: 6%;
		font-family: 'Roboto', sans-serif;
	p{
		font-weight: 300;
		text-align: center;
		margin-top: 3%;
	}
}

.skills {
	margin-top: 5%;
	.circle {
		text-align: center;
		width: 100px;
		height: 100px;
		color: #ff5e00;
		font-size: 2em;
		border: 2px solid #ff5e00;
		border-radius: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-flow: column;
		justify-content: center;		
	}
	p, .title-skill {
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}

	.title-skill {
		font-weight: bold;
		font-size: 18px;
	}
	p{
		font-weight: 300;
		font-size: 15px;
	}
	.fst-c {
		background-color: #ff5e00;
		color: #fff;
		display: flex;
		flex-flow: column;
		flex-direction: center;

		.inner-circle{
			border: 2px solid #fff;
			border-radius: 100%;
			width: 90px;
		  	height: 90px;
		  	margin: auto;
		  	display: flex;
		  	flex-flow: column;
			flex-direction: center;

			i{
				margin: auto;
			}
		}
	}
}
.bg-cinza {
	background-color: #f8f8f8;
} 
.destaque-projetos {
	margin-top: 5%;
	padding: 0px;
	border-top: 1px solid #e1e1e1;
	.mgt-top{
		padding-top: 5%;
	}
	p {
		margin-top: 3%;
		text-align: center;
		font-weight: 300;
	}
}

.nav-fill {

	.nav-item {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 14px;
	}
} 

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
	background-color: #ff5e00;
}
.nav-pills .nav-link {
	color: #000;
}

.bg-white {
	background-color: #fff;
}

.galeria-projetos {
	.row{
		margin-top: -1px;
	}	
	.col-xm-12, .col-sm-4, .col-md-3, .col-lg-3 {
		padding-left: 0px;
		padding-right: 0px;

	}
	figure{
		position: relative;
		// box-sizing: border-box;
		// border: 1px solid black;
		height: 250px;
		margin:0px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		
		a {
			height: 100%;
			width: 100%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
		}

		& a:hover .pelicula{
			display: block;
			transition: 0.8s;
			transition-delay: 0.7s;
		}

		img {
			height: 100%;
			width: 100%;		
		}
		.pelicula {
			position: absolute;
			z-index:100;
			border: 1px solid #fff;
			width:95%;
			height: 90%;
			background-color: rgba(0,0,0, 0.4);		
			display: none;
			
			figcaption {
				text-align: center;
				font-family: 'Roboto' sans-serif;
				display: flex;	
				height: 100%;	
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;


			.content {	
				.titulo {
					color: #fff;				
					font-size: 14px;
					font-weight: 500;	
					// margin-top: 50%;	
				}

				p {
					font-size: 12px;
					font-weight: 300;
					align-self: center;
					color: #ffab31;
					}
				}
			}	
		}
	}
}
.alinhamento {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.pp-servicos {
	margin-top: 100px;
	p {
		margin-top: 3%;
		text-align: center;
		font-weight: 300;
	}
}
.b-white {
	background-color: #fff;
	margin-bottom: 5%;
}

.bloco-servicos {
	 font-family: 'Roboto' sans-serif;	
	 padding: 0px;
	.item-servicos {
	    padding-left: 15px;
    	padding-right: 15px;
   		padding-top: 10px;
    	padding-bottom: 10px;		
		// max-height: 220px;
		// background-color: #f9f9f9;

		&:hover {
			background-color: #f9f9f9;
		}
		&:hover > div {
			border: 1px solid #ff5e00;
		}
		&:hover > div:before {
			content: '';
			position: absolute;
			width: 110%;
			background-color: #ff5e00;
			height: 1px;
			left: 50%;
			top: -1px;
			transform: translateX(-50%);
		}

		&:hover > div:after {
			content: '';
			position: absolute;
			width: 110%;
			background-color: #ff5e00;
			height: 1px;
			left: 50%;
			bottom: -1px;
			transform: translateX(-50%);
		}

		& > div {
			// border: 1px solid #ff5e00;
			height: 100%;
			text-align: center;
			padding: 10px;
			position: relative; 
			border: 1px solid transparent;

			i { 			
				font-size: 3em;
				color: #ff5e00;
				padding-top: 10px;
    			padding-bottom: 10px;
			}
			.fa:before {
				background-color: #f9f9f9;
				padding: 10px;
			}

			.conteudo-servico {
				background-color: #fff;

				h4 {
					font-weight: 700;
					color: #ff5e00;
		 			font-size: 18px;
		 			font-size: 18px;
    				padding-top: 10px;
				}
				p {
					font-size: 15px;
					font-weight: 300;
					text-align: justify;
					padding-left: 10px;
    				padding-right: 10px;
				}
			}
		}
	}
}

.bg-roxo {
	background-color: #2c1d3a;
}


.cliente {
	 padding: 0px !important;
}
#carousel-cliente {
	min-height: 350px;	
	font-family: 'Roboto' sans-serif;	
	.carousel-control-prev .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon{
		border: 1px solid #fd5d00;
			
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
			color: #fd5d00;
			background-image: none;
			width: 30px;
			height: 30px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
	}

	.carousel-inner {
		min-height: 350px;
	}
	.carousel-inner .carousel-item {
			height: 100%;
			color: #fff;
			& > div {
			margin-top: 5%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			}
			& > div > div {				
				overflow: hidden;
				border-radius: 50%;
				
				img{
					height: 128px;
					width: 128px;
				}

			}
			h4 {
				font-weight: 700;
				font-size: 15px;
				padding-top: 20px;

				span {				
					color: #fd5d00;
					font-style: italic;
					position: relative;
    			top: -9px;
    			left: -5px;
				}
			}
			p {
				font-weight: 300;
				font-size: 13px;
				width: 80%;
				text-align: center;
			}
	}
}	

.cases-sucesso {
	font-family: 'Roboto' sans-serif;	
	margin-top: 100px;
	#wrapper {
		width: 60%;
	}
	p {
		text-align: center;
		font-weight: 300;
		margin-top: 40px;
		margin-bottom: 40px;
		}
}

.cases {
	margin-top: 50px;

	#wrapper {
		width: 80%;
	}
	ul {
		list-style: none;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0px;
		padding-bottom: 50px;
			
		li {
			display: inline-block;
			padding: 20px;
			
		}
	}
}

.solicitacao {
	background-color: #fd3e15;
	width: 100%;	
	font-family: 'Roboto' sans-serif;	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	margin-top: 50px;

	h4{
		font-weight: 700;
		color: #fff;
		font-size: 18px;
	}
	button {
		border: none;
		background-color: #fff;
		color: #fd3e15;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		padding: 0px 40px;
		cursor: pointer;
		border-radius: 5px;
		height: 50px;
		margin-left: 50px;
	}
}

.conversar {
	min-height: 300px;
	margin-top: 50px;
	font-family: 'Roboto' sans-serif;	

	.endereco, .mensagem {	
		.c-info {
			color: #fd3e15;			
			font-weight: 700;
			font-size: 18px;
			padding-bottom: 10px;		
		}
	}
	p, a {
		font-size: 13px;
	}
	p {
	 margin-top: 50px; 
	 font-weight: 300;
	}
	p > a {
		display: block;
		margin-top: 10px;
		font-weight: 500;
	}

	#mapa {
		margin-top: 50px;
		width: 100%;
		height: 250px;
	}

	.mensagem {		
		form {
			margin-top: 50px;

			input, textarea {
				font-family: 'Roboto' sans-serif;	
				font-weight: 300;
				font-size: 15px;
			}

			button {
				background-color: #fd3e15;
				border: none;
				cursor: pointer;
				padding:  15px 40px 15px 40px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				border-radius: 3px;
			}
		}
		form .form-group {
			margin-bottom: 25px;
		}
	}
}

footer {
	background-color: #180428;	
	position: relative;
	font-family: 'Roboto' sans-serif;

	& > div {		 
	  height: 350px;
	
		p {
			color: #fff;
			text-align: center;
			font-size: 14px;
			font-weight: 300;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 50px;
			padding-bottom: 20px;
		}
		.social-media-list-footer {
			list-style: none;
			margin: 0 auto;
			display: block;
			width: 150px;
			margin-top: 30px;
			display: flex;
    		flex-flow: row wrap;
    		justify-content: space-between;
    		padding: 0px;
			& > li {			
				display: inline-block;				
				width: 30px;
				padding: 5px;
				margin-right: 5px;
				border: 1px solid #f15f22;
				a { text-decoration: none; }
				 a > i {			
					color: #f15f22;
					display: block;
					text-align: center;

			}
		}
	}
}

.down-footer {
		min-height: 60px;
		background-color: #1d082d;
		display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	    align-items: center;
		img {
			position: absolute;
			right: 0px;
			bottom: 0px;
			height: 280px;
		}
	
		 & > img + #wrapper > div > div > span {
			color: #fff;		
			font-weight: 300;	
			& > span {
				color: #ff5e00;
			}
		}
		nav {
		
		  ul {
			list-style: none;
			margin: 0px;
			padding: 0px;	
			// display: inline;
			li {
				display: inline-block;
				margin-left: 5px;
				a {
					color: #fff;
					font-size: 14px;
					text-decoration: none;
					&:hover {
						color: #ff5e00;
						transition: 1; }
					}
				}
			}
		}
	}
}


/* Mediaqueries
min-width: value and up
max-width: value and down

*/


// @media (max-width: 1332px){
// 	.main-menu {
// 		display: flex;
// 		flex-flow: column wrap;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .bloco-servicos .item-servicos {
     max-height: 240px;
  }
 
  .cases ul {
  	justify-content: center;
  }
}
@media (min-width: 992px) {
	#navbarSupportedContent {
		margin-left: 70px;
	}
}
@media (max-width: 992px) {
 .main-menu {
	// display: flex;
	// flex-flow: row wrap;
	// justify-content: space-between;
	// align-items: flex-start;

		nav ul li{
			padding: 5px;
			background-color: #ff5e00;
			border-bottom: 1px solid #fff;
			 a {
			 	color: #fff;
			 	display: inline-block;
    			width: 100%;
    			&:hover {
    				color: #000;
    			}
			 }
		}
	}
	.navbar-light .navbar-toggler {
		margin-top: 20px;
	}
	.info-list, .social-media-list {
		text-align: center;
	}
	.social-media-list li {
		font-size: 16px;
	}
	.nav-fill {
		flex-flow: column;
	}
	
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	.mensagem {
		margin-top: 30px;
	}
	.solicitacao {
		padding: 20px;
		
		h4 {
		 font-size: 22px;
		 text-align: center;
	   }
		button {
			margin-top: 15px;
		}
	}
	.carousel-indicators {
		right: -50px;
	}
	.item-carousel-half {
		display: none;
	}
	footer .down-footer img {
		display: none;
	}
}

@media (max-width: 576px) {
	.info-list { 
		display: none;
		li {
		  display: block;
		  font-size: 14px;
		  padding: 5px;
		}
	}
	.social-media-list li {
		font-size: 16px;
		margin-left: 20px;
	}
	.cases ul {
		justify-content: center;
	    flex-flow: column;
	    align-items: center;
	}
	.solicitacao button {
		margin-left: 0px;
	}

	#wrapper, .cases-sucesso #wrapper {
		width: 90%;
	}
	footer .down-footer .row {
		text-align: center;

		div + nav {
			margin-top: 5px;
		}
	}

	#carousel-cliente {
		.controles {
			min-width: 150px;
		    margin: 0 auto;
		    height: 80px;		   
		}

		#carousel-cliente .carousel-control-prev .carousel-control-prev-icon, 
		#carousel-cliente .carousel-control-next .carousel-control-next-icon {
			border: 2px solid #fd5d00
		}
		.carousel-control-prev {
			float: left;
		}
		.carousel-control-next {
			float: right;		
		}
		.carousel-control-prev, .carousel-control-next{
			position: inherit;
			display: block;
			font-size: 40px;

		}

		.carousel-control-prev-icon, .carousel-control-next-icon {
			width: 50px;
			height: 50px;
		}		
	}
	.oque-oferecemos {
		margin-top: 100px;
	}
	
	.carousel-indicators {
		    right: 0px;
		    margin: 0px;
		    left: initial;
    		top: initial;
    		width: 100%;    
    		display: flex;

		li {
			float: left;
			width: 20px;
    		height: 20px;
		}
	}
	.conversar .mensagem form button {
		width: 100%;
	}
}

#go-to-top { 
	display: none;
	& > div {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		// color: #ff5e00;
		color: #fff;
		width: 30px;
		height: 30px;
		background-color: #ff5e00;	
		border: 1px solid #ff5e00;
		position: fixed;
		right: 20px;
		cursor: pointer;
		bottom: 20px;
		z-index: 1000;
	}
}

@media (max-width: 350px) {
	.navbar-light .navbar-toggler {
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.listcol .navbar-brand {
	  width: 100%;
	 img {
		display: block;
		margin: 0 auto;
		}
	}
}